@media screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}

@font-face {
    font-family: Numans;
    src: url("https://fonts.google.com/specimen/numans?query=numans");
}

.numans-regular {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header { 
    width: 100%;
    height: 100px;   
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: Numans;
}

img {
    width: 220px;
    height: 90px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    color: #c0c0c0;
    overflow-x: hidden;
    font-family: Numans;
    margin: 0;
}
  
.topnav {
    text-align: center;
    padding-top: 100px;
    padding-left: 0;
    background-color:#404040;
    overflow: hidden;
    line-height: 10px;
}
  
.topnav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
  
.topnav li {
    float: left;
}
  
.topnav li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}
  
.topnav li a:hover {
    background-color:#ffffff;
    color: #000000;
}
  
.topnav li a:active {
    background-color: #003300;
    color: #ffffff;
}

body {
    background-color: #1a1a1a;
}
.form {
    width: 80%;
    max-width: 550px;
    padding: 15px;
    margin: 10px auto 10px auto;
    background-color: #0d0d0d;
    color: white;
    font-family: Numans;
    border: 5px solid gray;
    border-radius: 5px;
    text-wrap: wrap;

}

select {
    width: 100%;
    background-color: #262626;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
}

 input[type="submit"] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

fieldset {
    margin: 10px;
    background-color: #0d0d0d; 
}

.form-container { 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    display: inline flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }