* {
    box-sizing: border-box;
}
    
@font-face {
    font-family: Numans;
    src: url("https://fonts.google.com/specimen/numans?query=numans");
}

.numans-regular {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.header { 
    width: 100%;
    height: 100px;   
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: Numans;
}

img {
    width: 250px;
    height: 90px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    color: #c0c0c0;
    overflow-x: hidden;
    font-family: Numans;
    margin: 0;
}
  
.topnav {
    text-align: center;
    padding-top: 100px;
    padding-left: 0;
    background-color:#404040;
    overflow: hidden;
    line-height: 10px;
}
  
.topnav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
  
.topnav li {
    float: left;
}
  
.topnav li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}
  
.topnav li a:hover {
    background-color:#ffffff;
    color: #000000;
}
  
.topnav li a:active {
    background-color: #003300;
    color: #ffffff;
}

.row {
    display: inline flex;
}


.left {
    flex: left;
    width: 30%;
    padding: 50px;
}
  
.right {
    flex: left;
    width: 70%;
    padding: 50px;
    background-color: #1a1a1a;
}  

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.row img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.row > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row > div > .information {
    border: 1px black;
    border-radius: 15px; 
    background-color:#003300;
}

@media only screen and (max-width: 500px) {
    .left, .right {
        width: 100%;
    }

        
    .row {
        display: inherit;
    }

}