* {
    box-sizing: border-box;
}

@font-face {
    font-family: Numans;
    src: url("https://fonts.google.com/specimen/numans?query=numans");
}

.numans-regular {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.header { 
    width: 100%;
    height: 100px;   
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: Numans;
}

img {
    width: 200px;
    height: 190px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    color: #c0c0c0;
    overflow-x: hidden;
    font-family: Numans;
    margin: 0;
}
  
.topnav {
    text-align: center;
    padding-top: 100px;
    padding-left: 0;
    background-color:#404040;
    overflow: hidden;
    line-height: 10px;
}
  
.topnav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
  
.topnav li {
    float: left;
}
  
.topnav li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}
  
.topnav li a:hover {
    background-color:#ffffff;
    color: #000000;
}
  
.topnav li a:active {
    background-color: #003300;
    color: #ffffff;
}

html, body {
    margin: 0 auto;
}
.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.gallery::after {
    content: "";
    width: 350px;
}

.gallery > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.gallery {
	display: inline grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
    padding: 5px 100px;
}
.gallery .wide {
	grid-column: span 2;
}
.gallery .tall {
	grid-row: span 2;
}
.gallery .big {
	grid-column: span 2;
	grid-row: span 2;
}

.description {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .gallery {
        flex: 100%;
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .big, .wide, .tall {
        grid-column: auto;
        grid-row: auto;
    }
}